@use './../main/variables.scss' as *;
@use './../main/mixins.scss' as *;

.boost {
    position: relative;
    padding: 7rem 0rem;
    h2 {
        font-size: 2.5rem;
        color: #fff;
        @include tablet {
            font-size: 3rem;
            font-weight: 700;
        }
    }
    button {
        background-color: $cyan;
        color: #fff;
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem 3rem;
        border: none;
        border-radius: 3rem;
    }
    .bg-boost {
        background-color: $dark-violet;
        background-image: url('/images/bg-boost-mobile.svg');
        width: 200%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: -10rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include tablet {
            background-image: url('/images/bg-boost-desktop.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 250%;
            left: -90rem;
        }
    }
}