@use './.././main/variables.scss' as *;

.footer {
    position: relative;
    padding: 5rem 0rem;
    .bg-footer {
        position: absolute;
        height: 100%;
        width: 200%;
        top: 0;
        z-index: -1;
        left: -50px;
        background-color: $very-dark-violet;
    }
    nav {
        .info {
            h4 {
                color: #fff;
                font-size: 1.4rem;
            }
            ul {
                li {
                    list-style: none;
                    color: $gray;
                    font-size: 1.2rem;
                    line-height: 2.7rem;
                }
            }
        }
    }
    .logos {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        gap: 3rem;
    }
}