.header {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        cursor: pointer;
    }
    nav {
        .hamburger {
            width: 3.7rem;
            cursor: pointer;
        }
    }
}